# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# design items (for reference)
comps

# next.js
/.next/
/out/
/_next/

# production
/build

# misc
.DS_Store
!.env.local.example
!__tests__/.env

# debug
# yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
